/* card size */
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3.33333rem;
    border-radius: 14px;
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 0 solid rgba(23, 22, 26, 0.125);
    border-radius: 14px;
}





/* image hover */



.card-demo .card-img {
    display: block;
    border: 1px solid rgba(177, 177, 180, 0.1);
    -webkit-transition: -webkit-transform 150ms linear;
    transition: transform 150ms linear, -webkit-transform 150ms linear;
    will-change: transform;
}





.card-demo .card-title {
    position: relative;
    display: block;
    margin-bottom: 0;
}

.card-demo a.card-title {
    text-decoration: none;
    -webkit-transition: color 150ms linear;
    transition: color 150ms linear;
}

.card-demo a.card-title:hover,
.card-demo a.card-title:focus {
    color: #F01F4B;
}

.card-demo .card-body {
    display: block;
    padding: 30px 0 0;
}

.card-demo.text-white .card-img {
    border-color: #262528;
}

.card-demo.text-white a.card-title:hover,
.card-demo.text-white a.card-title:focus {
    color: inherit;
}

.card-demo:hover .card-img {
    --webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

a.card-demo {
    text-decoration: none;
}

.white-text {
    color: lightgray;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



/* Card image size */
.card {
    padding-bottom: 25px;
}

.card-img,
.card-img-top {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}




/* tab and tabs */

body {
    background: #16a085;
}

.content {
    width: 450px;
    height: auto;
    margin: 0 auto;
    /* padding: 30px; */
}

.nav-pills {
    /* width: 450px; */
    border: #fff;
}

.nav-item {
    width: 25%;
}

.nav-pills .nav-link {
    /* font-weight: bold; */
    /* padding-top: 13px; */
    text-align: center;
    /* background: #343436; */
    color: rgba(255, 255, 255, 0.284);
    border-radius: 10px;
    /* height: 50px; */
}

.nav-pills .nav-link.active {
    background: transparent;
    color: #fff;
    border: 2px solid rgba(177, 177, 180, 0.7);

}

.tab-content {

    /* width: 450px; */
    /* height: auto; */
    /* margin-top: -50px; */
    /* background: #fff; */
    /* color: #000; */
    border-radius: 20px;
    /* z-index: 1000; */
    /*box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);*/
    /*padding: 30px;*/
    padding-top: 30px;
    margin-bottom: 20px;
}

.tab-content button {
    /* border-radius: 15px; */
    width: 100px;
    margin: 0 auto;
    float: right;
}



