.card-img-top {
    width: 300px;
    height: 300px;
}

.transparent {
    background: none !important;
    border: none !important;
    border-radius: 0;
    position: absolute;
}

.card:hover {
    transition: opacity .2s ease-in-out;
    border: 1px solid rgba(118, 109, 244, .35);

}

.accordion-item {
    background-color: powderblue !important;
    color: black;
}